/*      link fonts --  font-family: 'Raleway', sans-serif;     */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*      h1 fonts --  font-family: 'Alegreya Sans', sans-serif;     */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap');
/*      <p> fonts --  font-family: 'Martel', serif;     */
@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');
body{
  background-color: #4A504E;
  margin: 0;
}

/*    start of header styles   */
header div.container-fluid{
  text-align: center;
  display: flex;
  justify-content: center !important;
  line-height: 1rem;
}
.mr-auto .navbar-nav .nav-link{
  color:#A4A5A4;
  font-family: 'Raleway', sans-serif;
}
.navbar-nav .nav-item a:hover, .navbar-nav .nav-item a:focus{
  color: #fff ;
}
li.nav-item a img{
  width: 70%;
}
/*    end of header styles   */
/*    start of section1 styles   */
#section1{
  margin: 0px;
  background: rgba(0, 0, 0, 0.6)url('../images/IMG-4784.jpg');
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}
h1{
  font-family: 'Alegreya Sans', sans-serif;
}
p{
  font-family: 'Martel', serif;
}
#section1 h1{
  font-weight: 700;
}
section div#section1main{
  padding: 12.5rem 0rem 15rem 0rem;
}
.arrow-bounce{
  animation: bounce 2.5s infinite;
}
@keyframes bounce{
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1.5rem);
  }
  60% {
    transform: translateY(-3rem);
  }
}
/*    end of section1 styles   */
/*    start of media queries styles   */
@media (min-width: 300.7px) and (max-width: 991.9px){
  li.nav-item a img{
    width: 40%;
  }
}

@media (min-width: 767.7px){
  .navbar-nav li.nav-item{
    font-size: 1.2rem;
  }
  section div#section1main{
    padding: 22rem 0rem 22rem 0rem;
  }
}

@media (min-width: 991.9px){
  header div.container-fluid{
    line-height: 6rem;
  }
}

@media (min-width: 1333.7px){
  .nav-item a{
    margin: 0rem 0.8rem;
  }
  section div#section1main{
    padding: 8rem 0rem 12rem 0rem;
  }
  #section1 h1{
    font-size: 3.5rem;
  }
}

@media (min-width: 1365.7.7px){
  
}

@media (min-width: 1527.7px){
  section div#section1main{
    padding: 12rem 0rem 14.6rem 0rem;
  }
}

@media (min-width: 1919.7px){
  section div#section1main{
    padding: 17.8rem 0rem 22rem 0rem;
  }
}